<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Kotoučovna - eshop</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <header th:fragment="header">
    <div id="header-left">
      <image src="/images/Logo.svg" alt="Kotoučovna eshop logo"></image>
    </div>
    <div id="header-center">
      <div id="search">
        <form th:action="@{/search}" method="get">
          <button type="submit"></button>
          <input type="search" name="search">
        </form>
      </div>
      <nav>
        <ul>
          <li>
            <a href="/suplementy/produkty">Suplementy</a>
          </li>
          <li>
            <a href="/obleceni/produkty">Oblečení</a>
          </li>
          <li>
            <a href="/doplnky/produkty">Doplňky</a>
          </li>
        </ul>
      </nav>
    </div>
    <div id="header-right">
      <div>

        <a th:href="@{/login-user}" sec:authorize="isAnonymous()">Přihlášení</a>
        <a th:href="@{/logout}" sec:authorize="isAuthenticated()">Odhlásit</a>
        <a th:href="@{/cart}" id="kosik" th:text="${@cart.getSumPrice()}">1050 Kč</a>
      </div>
      <nav>
        <ul>
          <li>
            <a href="sluzby.html">Služby fitness centra</a>
          </li>
          <li id="clenstvi">
            <a href="clenstvi.html">Členství</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
<footer th:fragment="footer">
  <div>
    <div>
      <h3>Fitness centrum Kotoučovna</h3>
      <p>Orlická 245</p>
      <p>Třebechovice pod Orebem</p>
      <p>503 46</p>
    </div>
    <div class="odkazy">
      <a>
        <img src="Images/icons/tel_icon.svg" alt="Telefon">
        <p>697 728 543</p>
      </a>
      <a>
        <img src="Images/icons/email_icon.svg" alt="Email">
        <p>info@kotoucovna.cz</p>
      </a>
      <div id="footer-icons">
        <a><img src="Images/icons/facebook_icon.svg" alt="Facebook"></a>
        <a><img src="Images/icons/instagram_icon.svg" alt="Instagram"></a>
        <a><img src="Images/icons/tiktok_icon.svg" alt="TikTok"></a>
      </div>
    </div>
    <div>
      <nav>
        <a href="suplementy.html">Suplementy</a>
        <a href="">Oblečení</a>
        <a href="">Doplňky</a>
        <a href="">Služby fitness centra</a>
        <a href="">Členství</a>
      </nav>
    </div>
  </div>
</footer>
</body>
</html>