<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/admin/common/common :: head (${'Upravit produkt ' + product.name})}"></head>
<body>
<header th:replace="~{/admin/common/common :: header}"></header>
<main>
    <h1 th:text="${product.name}">Název</h1>
    <div class="product-img">
        <img th:src="${product.image.path}">
        <form th:action="@{/admin/product/change-image}" method="post" enctype="multipart/form-data">
            <input type="file" id="changeImage" name="imageFile">
            <span class="error" th:if="${imageFileEmpty}">Zvolte obrázek</span>
            <button type="submit" name="productId" th:value="${product.id}">Změnit obrázek</button>
        </form>
    </div>
    <div class="tools">
        <p th:text="${'Přidal: ' + product.employee.name + ' ' + product.employee.surname}"></p>
    </div>
    <hr>
    <form class="product-form"
          th:action="@{/admin/product/edit(product=${product.id})}" method="post" th:object="${product}">
        <div class="product-name-price-quantity">
            <div>
                <label for="name">Název</label>
                <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                <input type="text" id="name" name="name" th:field="*{name}">
            </div>
            <div>
                <label for="price">Cena</label>
                <span class="error" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
                <input type="number" id="price" name="price" th:field="*{price}">
            </div>
            <div>
                <label for="quantity">Quantity</label>
                <span class="error" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></span>
                <input type="number" id="quantity" name="quantity" th:field="*{quantity}">
            </div>
            <div>
                <label for="category">Kategorie</label>
                <select id="category" th:field="*{category.id}">
                    <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.getName()}">Kategorie
                    </option>
                </select>
            </div>
        </div>
        <label for="descriptionShort">Stručný popis</label>
        <span class="error" th:if="${#fields.hasErrors('descriptionShort')}" th:errors="*{descriptionShort}"></span>
        <textarea id="descriptionShort" name="descriptionShort" maxlength="120"
                  th:field="*{descriptionShort}"></textarea>
        <label for="descriptionFull">Úplný popis</label>
        <span class="error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
        <textarea id="descriptionFull" name="descriptionFull" th:field="*{description}"></textarea>
        <button class="potvrdit-btn" type="submit">Potvrdit změny</button>
    </form>
</main>
<div id="footer-spacer"></div>
<footer th:replace="~{/admin/common/common :: footer}"></footer>
</body>
</html>