<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/admin/common/common :: head ('Objednávky')}"></head>
<body>
<header th:replace="~{/admin/common/common :: header}"></header>
<main>
    <h1>Objednávky</h1>
    <div class="tools order-list-filters">
        <a th:href="@{/admin/orders/all}" th:classappend="${orderFilter.equals('all') ? 'active' : ''}"
           th:text="${'Vše (' + @orderService.getNumberOfOrders() + ')'}"></a>
        <a th:href="@{/admin/orders/unconfirmed}" th:classappend="${orderFilter.equals('unconfirmed') ? 'active' : ''}"
           th:text="${'K potvrzení (' + @orderService.getNumberOfUnconfirmedOrders() + ')'}"></a>
        <a th:href="@{/admin/orders/to-ship}" th:classappend="${orderFilter.equals('to-ship') ? 'active' : ''}"
           th:text="${'K odeslání (' + @orderService.getNumberOfReadyToShipOrders() + ')'}"></a>
        <a th:href="@{/admin/orders/shipped}" th:classappend="${orderFilter.equals('shipped') ? 'active' : ''}"
           th:text="${'Odeslané (' + @orderService.getNumberShippedOrders() + ')'}"></a>
        <a th:href="@{/admin/orders/delivered}" th:classappend="${orderFilter.equals('delivered') ? 'active' : ''}"
           th:text="${'Doručené (' + @orderService.getNumberOfDeliveredOrders() + ')'}"></a>
    </div>
    <table class="order-list" id="table">
        <thead class="list-legend">
        <tr>
            <th onclick="sortTable(0)">Číslo objednávky</th>
            <th onclick="sortTable(1)">Datum objednání</th>
            <th onclick="sortTable(2)">Typ dopravy</th>
            <th onclick="sortTable(3)">Typ platby</th>
            <th onclick="sortTable(4)">Stav objednávky</th>
            <th onclick="sortTable(5)">Celková cena</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.id}"></td>
            <td th:text="${#temporals.format(order.orderDate, 'dd.MM.yyyy HH:mm')}"></td>
            <td th:text="${order.shippingType.name}"></td>
            <td th:text="${order.paymentType.name}"></td>
            <td th:text="${order.orderState.name}"></td>
            <td th:text="${#numbers.formatDecimal(order.getSumPrice(), 0, 0) + ' Kč'}"></td>
            <td><a th:href="@{/admin/order(order=${order.id})}">Detail</a></td>
        </tr>

        </tbody>
    </table>
</main>
<div id="footer-spacer"></div>
<footer th:replace="~{/admin/common/common :: footer}"></footer>
</body>
</html>