@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
    font-family: BroshK;
    src: url(/fonts/broshk/BroshK.ttf) format('truetype');
}

main {
    padding: 0 5%;
}

body {
    font-family: "Open Sans";
}

/*#region HEADER*/

#header-center {
    justify-content: end;
}

#header-left img {
    height: 4rem;
    margin: 0;
}

#header-right {
    flex-direction: row;
    justify-content: end;
    gap: 10px;
}

#header-right p {
    font-family: BroshK;
    margin: 0;
    font-size: 1.8rem;
}

/*#endregion*/


/*#region PRODUCT-LIST*/
.product-list > div {
    display: grid;
    grid-template-columns: 3fr 5fr 1fr 1fr 1.5fr 1fr;
    column-gap: 20px;
}

.product-list a {
    background-color: rgb(173, 173, 173);
    padding: 0.3rem;
    display: block;
}

.toolbar {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.toolbar #search {
    width: 40%;
    flex: initial;
    border-color: rgb(133, 133, 133);
}

.toolbar #search form {
    width: 100%;
    height: 1.9rem;
}

.toolbar select {
    height: 1.9rem;
    font-size: 1rem;
}


.tools {
    display: flex;
    justify-content: end;
}

.tools a {
    box-sizing: border-box;
    font-family: BroshK;
    width: fit-content;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    background-color: #FFAB2B;
    height: 100%;
    padding: 0.5rem 1rem;
}

/*#endregion*/


/*#region ORDER-LIST*/
/*
.order-list > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.8fr 0.3fr;
    gap: 1rem;
}

.order-list .list-legend .cena {
    width: 100%;
}

.order-list a {
    background-color: rgb(173,173,173);
    padding: 0.3rem;
    margin: auto;
}
*/
.order-list-filters a {
    background-color: rgb(173, 173, 173);
}

.order-list-filters a.active {
    background-color: #FFAB2B;
}

/*#endregion*/


/*#region ORDER-DETAILS*/
.objednavka-polozky-detail > div:first-of-type > div {
    grid-template-columns: 1fr 8fr 1fr 1fr;
}

.order-detail > div:first-of-type {
    display: flex;
    justify-content: space-between;
}

.order-details-state {
    display: flex;
    gap: 30px;
}

/*
.potvrzeni-objendavky > div:first-of-type {
    display: flex;
    justify-content: space-between;
}

 */

.potvrzeni-objendavky > div h3 {
    text-align: center;
}

.order-detail form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: space-evenly;
}

/*#endregion*/

/*#region PRODUCT-FORM*/
.product-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.product-form textarea {
    width: 100%;
    box-sizing: border-box;
}

.product-form .product-name-price-quantity {
    display: flex;
    gap: 5%;
    width: 100%;
}

.product-form .product-name-price-quantity > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-form .product-name-price-quantity > div:first-of-type {
    flex: 1;
}

.product-form input[name=quantity] {
    width: 4rem;
}

.product-form input[name=price] {
    width: 6rem;
}

.product-form input[name=name] {

}

.product-form textarea[name=description] {
    height: 15rem;
}


.product-form select {
    height: 1.9rem;
}

.product-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.product-img form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.product-img img {
    height: 30vh;
}

/*#endregion*/

footer {
    background-color: white;
    clip-path: initial;
    border-top: solid black 1px;
    padding: 2px;
}

footer p {
    text-align: center;
    color: black;
}

.login {
    margin: 0 auto;
}

table {
    margin-top: 30px;
    width: 100%;
    font-size: 1.125rem;
    border-collapse: collapse;
    table-layout: auto;
}

tbody tr:nth-child(even) {
    background-color: #e7e7e7;
}

td {
    padding: 0.5rem;
}

.product-list tr td:nth-child(4) {
    white-space: nowrap;
}

.product-list tr td:nth-child(3) {
    text-align: center;
}

table a {
    background-color: rgb(173, 173, 173);
    padding: 0.3rem;
    display: block;
    width: fit-content;
}

.order-list tr td {
    text-align: center;
}

.order-list tr td:last-child {
    display: block;
    width: min-content;
    margin-left: auto;
}


.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
}

.dashboard p {
    font-family: BroshK;
    font-size: 1.5rem;
}

.dashboard > div > div {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
