@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@font-face {
    font-family: BroshK;
    src: url(../fonts/broshk/BroshK.ttf);
}

header, nav, h1, h2, h3, h4 {
    font-family: BroshK;
    color: #000000;
}
header {
    font-size: 1.8rem;
}
h1, h2, h3, h4{
    color: #FFAB2B;
    font-weight: normal;
    text-align: center;
}
h1 {
    font-size: 4.5rem;
    margin-bottom: 0;
    margin-top: 0.5rem;
}
h2 {
    font-size: 4rem;
    margin-bottom: 0;
}
h3 {
    font-size: 2rem;
}

p {
    font-family: "Open Sans";
    font-size: 1.125rem;
    color: #000000;
}
a {
    text-decoration: none;
    color: inherit;
}

button {
    font-family: Broshk;
    font-size: 1.3rem;
}

body {
    margin: 0;
    font-family: "Opens Sans";
}

header {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
}

header > div {
    flex: 1;
}
nav {
    text-align: center;
}
nav ul {
    padding: 0;
    margin: 0 0 5px 0;
}
nav ul li {
    display: inline-block;
    padding: 5px 5px 0 5px;
}
#header-center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header-center ul {
    display: flex;
    justify-content: space-evenly;
}

#search {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#search form {
    display: flex;
    width: 70%;
    border: 1px solid black;
    height: 1.5rem;
    border-radius: 2px;
}

#search input {
    width: 100%;
    border: none;
    height: 100%;
}

#search button {
    background: url(../images/icons/search_icon.svg) no-repeat;
    background-position: center;
    background-size: 80%;
    border: none;
    height: 100%;
    width: 25px;
    padding: 0;
}

#header-right {
    display: flex;
    flex-direction: column;   
    text-align: right;
}

#header-right > div {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: right;
}

#header-right ul {
    text-align: right;
    padding-right: 5px;
}

#header-left img{
    height: 100px;
    margin: 10px;
}

#clenstvi {
    background-color: #FFAB2B;
    border-radius: 10px;
}

#header-right > div a {
    margin-left: auto;
    padding-right: 5px;
}

#kosik {
    background: url(../images/icons/kosik_icon.svg) no-repeat;
    background-size: 2.5rem;
    line-height: 2.5rem;
    background-position: left center;
    padding-left: 4rem;
    height: 2.5rem;
    width: fit-content;
    display: block;
    margin-left: auto;
}


.items {
    display: grid;
    grid-template-columns: repeat(3, 320px);
    justify-content: center;
    gap: 5%;
}

.item {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    text-align: end;
    padding: 10px;
}


.item-actions {
    display: flex;
    justify-content: space-between;
}

.item-actions > p {
    margin: 0;
    align-self: flex-end; 
}

.skladem {
    color: rgb(0, 184, 9);
    background-color: rgba(0, 255, 13, 0.075);
}

.item > div > div {
    display: flex;
    height: 2.5rem;
}

.item h4 {
    text-align: end;
    margin: 0;
    color: #000000;
    font-size: 2rem;
    margin-top: 10px;
}

.cena {
    font-family: "Broshk";
    font-size: 2.2rem;
    margin: 0;
}

.do-kosiku-btn {
    background-color: #FFAB2B;
    border: none;
    height: 100%;
    font-weight: 400;
    padding: 0.5rem 1rem;
}

.detail {
    display: flex;
    background-color: rgb(173, 173, 173);
    height: 100%;
    align-items: center;
    padding: 0 1rem;
    font-family: "Open Sans";
}

.kategorie {
    padding-top: 30px;
}

.podkategorie {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    width: fit-content;
    column-gap: 30px;
    row-gap: 0.6rem;

margin: auto;
}

.podkategorie h3 {
    color: black;
    margin: 0;
}

.podkategorie a {
    background-color: rgba(0, 0, 0, 0.075);
    padding: 0.5rem;
}

.hr {
    display: flex;
    justify-content: center;
}

.hr hr {
    margin: 30px;
    width: 70%;
}

.item-detail {
    padding: 0 1%;
}

.item-detail-img {
    text-align: center;
}

.item-detail .cena {
    text-align: end;
    font-size: 2.5rem;
}

.item-detail .do-kosiku-btn {
    font-size: 2.5rem;
}

.login {
    margin: auto;
    width: 30%;
    min-width: 320px;
    font-family: "Broshk";
    font-size: 1.8rem;
}

.login form {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login input {
    height: 1.8rem;
}

.login input[type=submit] {
    font-family: "Broshk";
    font-size: 2rem;
    height: fit-content;
    width: fit-content;
    background-color: #FFAB2B;
    border: none;
    padding: 1rem;
    margin: 15px auto 20px auto;
}

.login > div {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
}

