<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{common/header :: head}"/>
    <body>
        <header th:replace="~{common/header :: header}"/>
        <div class="kategorie">
            <h1 th:text="${category.name}"></h1>
            <div class="podkategorie">
                <a th:each="subcategory : ${subcategories}"
                   th:href="@{/{categoryPath}/produkty(categoryPath=${#strings.toLowerCase(subcategory.name)})}">
                    <h3 th:text="${subcategory.name}">Proteiny</h3>
                </a>
            </div>
        </div>
        <div class="hr">
            <hr>
        </div>
        <div class="items">
            <div class="item" th:each="product : ${products}">
                <img th:src=" ${product.imageUrl}">
                <h4 th:text="${product.getName()}">Název</h4>
                <p th:text="${product.getDescriptionShort}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur tempus urna at turpis condimentum lobortis.</p>
                <p class="cena" th:text="${product.price + ' Kč'}">499 Kč</p>
                <div class="item-actions">
                    <p class="skladem">Skladem</p>
                    <div>
                        <a th:href="@{/{categoryPath}/produkt/{produktId}(categoryPath=${#strings.toLowerCase(product.category.name)}, produktId = ${product.id})}" class="detail">Detail</a>
                        <form th:action="@{/cart/add}" method="post">
                            <button type="submit" name="productid" th:value="${product.id}" class="do-kosiku-btn">Do košíku</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <footer th:replace="~{common/header.html :: footer}"/>
    </body>
</html>