<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/checkout1}" method="post">
    <div>
        <div th:each="paymentType : ${paymentTypes}">
            <label th:for="${paymentType.name}">
                <p th:text="${paymentType.name}"></p>
                <p th:text="${paymentType.price } + ' Kč'"></p>
            </label>
            <input type="radio" name="paymentTypeId" th:id="${paymentType.name}" th:value="${paymentType.id}">
        </div>
    </div>
    <div>
        <div th:each="shippingType : ${shippingTypes}">
            <label th:for="${shippingType.name}">
                <p th:text="${shippingType.name}"></p>
                <p th:text="${shippingType.price } + ' Kč'"></p>
            </label>
            <input type="radio" name="shippingTypeId" th:id="${shippingType.name}" th:value="${shippingType.id}">
        </div>
    </div>
    <input type="submit" value="Pokračovat v objednávce">

</form>
</body>
</html>