<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/header.html :: head (title = 'Přihlášení')}"/>
<body>
<header th:replace="~{common/header.html :: header}"/>
<main>
    <h1>Přihlášení</h1>
    <div class="login">
        <form action="login" th:action="@{/login}" method="post">
            <label for="username">Přihlašovací jméno</label>
            <input type="text" id="username" name="username">
            <label for="password">Heslo</label>
            <input type="password" id="password" name="password">
            <div th:if="${param.error}" class="error">Špatné přihlašovací jméno nebo heslo</div>
            <button class="potvrdit-btn" type="submit">Přihlásit</button>
        </form>
        <div>
            <a th:href="@{/password-reset}">Zapomenuté heslo</a>
            <a th:href="@{/registration}">Registrace</a>
        </div>
    </div>
</main>

<div id="footer-spacer"></div>
<footer th:replace="~{common/header.html :: footer}"/>
</body>
</html>