<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/header :: head (title = 'Obnovení hesla')}"/>
<body>
<header th:replace="~{common/header :: header}"/>
<main>
    <h1>Zapomenuté heslo</h1>
    <div class="login">
        <form action="login" th:action="@{/password-reset}" method="post" th:object="${client}">
            <label for="email">email</label>
            <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            <input type="text" id="email" name="email">
            <label for="password">Nové heslo</label>
            <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            <input type="password" id="password" name="password">
            <button class="potvrdit-btn" type="submit">Změnit heslo</button>
        </form>
    </div>
</main>
<div id="footer-spacer"></div>
<footer th:replace="~{common/header :: footer}"></footer>
</body>
</html>