<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/registration}" method="post">
  <div th:object="${client}">
    <h2>Osobní údaje</h2>
    <label for="username">Přihlašovací jméno</label>
    <input type="text" id="username" th:field="*{username}">
    <label for="password">Heslo</label>
    <input type="password" id="password" th:field="*{password}">
    <label for="email">Email</label>
    <input type="email" id="email" th:field="*{email}">
    <label for="name">Jméno</label>
    <input type="text" id="name" th:field="*{name}">
    <label for="surname">Příjmení</label>
    <input type="text" id="surname" th:field="*{surname}">
    <label for="tel">Telefon</label>
    <input type="tel" id="tel" th:field="*{tel}">
  </div>
  <div th:object="${adress}">
    <label for="street">Ulice</label>
    <input type="text" id="street" th:field="*{street}">
    <label for="buildingNumber">Číslo popisné</label>
    <input type="text" id="buildingNumber" th:field="*{buildingNumber}">
    <label for="city">Město</label>
    <input type="text" id="city" th:field="*{city}">
    <label for="postalCode">Poštovní směrovací číslo</label>
    <input type="tel" id="postalCode" th:field="*{postalCode}">
    <label for="country">Země</label>
    <input type="tel" id="country" th:field="*{country}">
  </div>
  <input type="submit">
</form>
</body>
</html>