<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/header :: head (title = 'Košík')}"/>
<body>
<header th:replace="~{common/header :: header}"/>
<main>
    <div class="msg-order-created" th:if="${createdOrder != null}">
        <p th:text="${'Objednávka č. ' + createdOrder.id + ' vytvořena'}"></p>
    </div>
    <h1>Košík</h1>
    <hr>
    <div>
        <div class="polozky-kosiku">
            <p>Položka</p>
            <p>Množství</p>
            <p>Cena</p>
            <p></p>
        </div>
        <div th:each="cartItem : ${@cart.items}" class="polozky-kosiku">
            <a th:href="@{/{categoryPath}/produkt/{produktName}
        (categoryPath=${@diacriticHandler.makeURL(cartItem.product.category.name)},
        produktName = ${@diacriticHandler.makeURL(cartItem.product.name)})}">
                <p th:text="${cartItem.product.name}"></p>
            </a>
            <input type="number" th:name="${'quantity' + cartItemStat.index}"
                   th:attr="onchange=|updateCartItem('${cartItemStat.index}', this.value)|" th:min="1"
                   th:max="${cartItem.product.quantity}" th:value="${@cart.items[__${cartItemStat.index}__].quantity}">
            <p th:text="${#numbers.formatDecimal(cartItem.product.price, 0, 0) + ' Kč'}"></p>
            <form th:action="@{/cart/deleteItem}" method="post">
                <button type="submit" name="itemIndex" th:value="${cartItemStat.index}">X</button>
            </form>
        </div>
    </div>

    <div class="cena-celkem">
        <p>Cena celkem</p>
        <p class="sumPrice" th:text="${#numbers.formatDecimal(@cart.getSumPrice(), 0, 0) + ' Kč'}">0</p>
    </div>

    <div class="pokracovat-v-objednavce">
        <a th:href="@{/cart/checkout1}" th:if="${!@cart.items.isEmpty()}">Pokračovat v objednávce</a>
        <a th:href="@{/suplementy/produkty}">Zpět k nákupu</a>
    </div>
</main>
<div id="footer-spacer"></div>
<footer th:replace="~{common/header :: footer}"></footer>
</body>
</html>